@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400&display=swap');
body{
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Krona One', sans-serif
}
#navigationBar{
    display: flex;
    width: 100%;
    background-color: #0D052B;
    list-style-type: none;
    margin: 0;
    padding: 0;

    justify-content: flex-end;
    text-decoration: none;
    align-items: center;
}

#navigationBar li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-sizing: border-box;
    height: 60px;  
    width: 120px;
    font-size: 1.5rem;
    font-size: 20px;
    color: whitesmoke;
    background-color:#0D052B;  
}
#navigationBar li a{
    align-self: center;
    text-decoration: none;
    color: whitesmoke;
}
#ContactButton{
    justify-self: flex-end;
}
.link{
    display: flex;
    width: 100%;
    appearance: none;
    border-style: none;
    border-color: whitesmoke;
    background-color: #0D052B;
    font-family: 'Krona One', sans-serif;
    color: whitesmoke;
    font-size :2.0rem;
    letter-spacing: 4px;
}
@keyframes scroll{
    0%{ transform: translateX(0);}
    100%{transform: translateX(calc(-250px*7));}
}
div.carousel-slide img{
    height: 170px;
    width: 320px;
    
}
#experience figure{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 30px groove #251881;

    height: 250px;
    width: 100%
}
#experience div{
    font-family: 'Krona One', sans-serif
}

#experience{
    display: flex;
    justify-content: center;

}
.texto{
    display: block;
    line-height: 2rem;
}
.texto div{
    line-height: 1 rem;
}
.texto ul{
    line-height: 1.5;
}
#proyectos{
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: center;

}
.proyecto{
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    font-size: 14px;
}
.proyecto h2{
    font-size: 22px;
    height: 20%;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    perspective: 1100px;
    width: 100%;
    height: 140px;
    position: relative;
    margin: 0 auto 200px;

    margin: 0 auto 120px;
}
form{
    width: 100%;
    height: 100%;
    display: block;
}
form ul{
    display: flex;
    align-content: space-between;
    justify-content: flex-start;
    height: 100%;
    width: 50%;
    flex-wrap: wrap;
}
form ul li{
    height: 40%;
    display: flex;
    justify-content: flex-start;
    color: black;
    background-color: whitesmoke;
    width: 100%;
    margin: 5px;
}
form ul li:nth-child(4){
    justify-content: flex-end;
    
}
button{
    background-color: #110949;
    color: whitesmoke;
    font-size: 22px;
    height: 20%;
    width: 25%;
}
article figure img{
    height: 220px;
    width: 250px;
}
article figure{
    background-color: #D00144;
    border: 300px;
    height: 300px;
}
form h2{
    margin: 36px;
}
label{
    align-self: flex-start;
    width: 20%;
}
input{
    width: 60%;
    border: 7px groove #860730;
}
textarea{
    width: 65%;
    border: 10px groove #860730;
}
#enviar{
    
   
    margin: 0 auto 300px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    size: ;
    background-color: #110949;
    color: whitesmoke;
    align-items: center;
    align-content: space-between;
    font-size: 22px;
    line-height: 100px;
    text-decoration: none;
}
footer div a{
    text-decoration: none;
}
footer div{
width: 50%;
height: 20%;
}
footer h2{
    font: 36px;
    width: 100%;
    margin: 5px;
}
.carousel{
    width: 100%;
    height: 100%;
    position: absolute;
        transform: translateZ(-288px);
        transform-style: preserve-3d;
        transition: transform 1s;
        transform: translateZ(-288px) rotateY(-360deg);  
    animation: rotateInY 10s infinite linear 
}
@keyframes rotateInY{
    0% {transform: translateZ(-488px) rotateY(0deg);}
    100% {transform: translateZ(-488px) rotateY(360deg) ;}
}

.carousel-slide{
    display: block;
    position: absolute;
    left: 500px;
    top: 60px;
}
.carousel .carousel-slide:nth-child(1) {
    transform: rotateY( 0deg ) translateZ( 488px );
}
.carousel .carousel-slide:nth-child(2) {
    transform: rotateY( 40deg ) translateZ( 488px );
}
.carousel .carousel-slide:nth-child(3) {
    transform: rotateY( 80deg ) translateZ( 488px );
}
.carousel .carousel-slide:nth-child(4) {
    transform: rotateY( 120deg ) translateZ( 488px );
}
.carousel .carousel-slide:nth-child(5) {
    transform: rotateY( 160deg ) translateZ( 488px );
}
.carousel .carousel-slide:nth-child(6) {
    transform: rotateY( 200deg ) translateZ( 488px );
}
.carousel .carousel-slide:nth-child(7) {
    transform: rotateY( 240deg ) translateZ( 488px );
}
.carousel .carousel-slide:nth-child(8) {
    transform: rotateY( 280deg ) translateZ( 488px );
}
.carousel .carousel-slide:nth-child(9) {
    transform: rotateY( 320deg ) translateZ( 488px );
}
#skills{
    color: whitesmoke;
    font-size: 4rem;
    background-color: #0D052B;
}
#title{
    margin-left: 30px;
}
li.skill-column{
    height: 200px;
    width: 100px;}
#skills ul{
color: whitesmoke;
font-size: 3rem;
height: 90%;
display: flex;
align-items: flex-end;
justify-content: center;
width: 90%;
}

#skills ul li{
    margin: 0 70px 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;
    width: 155px;
    height: 400px;
}
#skills ul li div{
    background-color: #2816A3;
    width: 100px;
    height: 70%;
    border-radius: 20px;
    align-self: flex-end;


    
}
#skills ul li div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: whitesmoke;
    height: 30%;
    font-size: 20px;
    width: 140px;
    border-radius: 02px;
    background-color: #0D052B;}
#AboutMe img{
    width: 205px;
    height: 240px;
    margin: 30px;
    border-style: dashed;
   
    border-color: #860730;
}
#AboutMe{
    display: flex;
    margin: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 30px;
    background-color: #0D052B;
    width: 90%;
    border-radius: 50px;
    color: whitesmoke;
    border-style: groove;
    border-color: #860730;
   
}
#AboutMe p{
    width: 100%;
    font-size: 22px;
}
#AboutMe h2{
    font-size: 35px;
}
#navigationBar button{
    border-radius: 0px;
}