body{
    margin: 0;
}
#navigationBar{
    display: flex;
    width: 100%;
    background-color: #48227B;
    list-style-type: none;
    margin: 0;
    padding: 0;

    justify-content: flex-end;
    text-decoration: none;
    align-items: center;
}
ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-sizing: border-box;
    height: 60px;  
    width: 150px;
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: whitesmoke;
    background-color:#48227B;  
}
ul li a{
    align-self: center;
    text-decoration: none;
    color: whitesmoke;
}
#ContactButton{
    justify-self: flex-end;
    background-color: #110949;
}
.link{
    display: flex;
    width: 100%;
    appearance: none;
    border-style: none;
    border-color: whitesmoke;
    background-color: #48227B;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
    font-size :2.0rem;
    letter-spacing: 4px;
    justify-content: center;
    align-items: center;
}

